* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--bgColor);
  font-family: 'Montserrat';
  font-weight: 600;
  width: 100vw;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50vw 50vw;
      grid-template-columns: 50vw 50vw;
  -ms-grid-rows: 50px 70px 300px 150px 200px 100px 75px;
      grid-template-rows: 50px 70px 300px 150px 200px 100px 75px;
      grid-template-areas: "head head" "teamNames teamNames" "map map" "winPer lineChart" "teamTable teamTable" "writeUp writeUp" "footer footer";
  overflow: auto;
  gap: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#head {
  position: absolute;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
  background-color: var(--white);
  width: 100vw;
  height: 50px;
  /* border-bottom: solid 1px #424242; */
  z-index: 2;
  -webkit-box-shadow: 0px 0px 25px 0.02px #e0e0e0;
          box-shadow: 0px 0px 25px 0.02px #e0e0e0;
}

#head h1 {
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-content: center;
  text-align: center;
}

#head h1 a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: middle;
  text-decoration: none;
  color: #ff4081;
  text-align: center;
}

#head #navbar {
  display: none;
}

#head #navbar .checkbtn {
  display: block;
  font-size: 14px;
  float: left;
  margin-left: 20px;
  cursor: pointer;
}

#head #navbar ul {
  position: fixed;
  width: 100vw;
  height: 100%;
  font-size: 12px;
}

#head #navbar ul li {
  display: block;
}

#head #navbar ul li a {
  text-decoration: none;
}

#check:checked ~ ul {
  left: 0;
}

#team-name {
  width: 100vw;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: teamNames;
  /* border: var(--borderSet); */
  border-radius: 15px;
  text-align: start;
  -webkit-box-shadow: 0px 0px 25px 0.02px #e0e0e0;
          box-shadow: 0px 0px 25px 0.02px #e0e0e0;
}

#map {
  width: 100vw;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: map;
  /* border: var(--borderSet); */
  border-radius: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px 0.02px #e0e0e0;
          box-shadow: 0px 0px 25px 0.02px #e0e0e0;
}

#win-per {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: winPer;
  /* border: var(--borderSet); */
  border-radius: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px 0.02px #e0e0e0;
          box-shadow: 0px 0px 25px 0.02px #e0e0e0;
}

#line-chart {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: lineChart;
  /* border: var(--borderSet); */
  border-radius: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px 0.02px #e0e0e0;
          box-shadow: 0px 0px 25px 0.02px #e0e0e0;
}

#table {
  width: 100vw;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: teamTable;
  /* border: var(--borderSet); */
  border-radius: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px 0.02px #e0e0e0;
          box-shadow: 0px 0px 25px 0.02px #e0e0e0;
}

#write-up {
  width: 100vw;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: writeUp;
  /* border: var(--borderSet); */
  border-radius: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px 0.02px #e0e0e0;
          box-shadow: 0px 0px 25px 0.02px #e0e0e0;
}

footer {
  width: 100vw;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=mobileFirst.css.map */