$pink200: #ff4081;
$bgColor: #eeeeee;
$borderSet: #424242 solid 1px;
$shadowEffect: 0px 0px 25px 0.02px #e0e0e0;
$cskColor: #ffc107,
#ffc107;
$miColor: #03a9f4,
#039be5;
$rcbColor: #d32f2f,
#c62828;
$kkrColor: #673ab7,
#5e35b1;
$kxipColor: #ff5252,
#ff1744;
$delhiColor: #536dfe,
#3d5afe;
$srhColor: #ff6e40,
#ff3d00;
$rrColor: #448aff,
#2979ff;
$glColor: #ff5722,
#f4511e;
$ktkColor: #607d8b,
#546e7a;
$deccanColor: #00838f,
#191970;
$rpsColor: #ff4081,
#f50057;
$pwiColor: #00e5ff,
#00b8d4;
$iplTeamColor: #4F91CD,
#19388A;
$teamRadius: 15px;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--bgColor);
    font-family: 'Montserrat';
    font-weight: 600;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50px 70px 300px 150px 200px 100px 75px;
    grid-template-areas: "head head" "teamNames teamNames" "map map" "winPer lineChart" "teamTable teamTable" "writeUp writeUp" "footer footer";
    overflow: auto;
    gap: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#head {
    position: absolute;
    grid-area: head;
    background-color: var(--white);
    width: 100vw;
    height: 50px;
    /* border-bottom: solid 1px #424242; */
    z-index: 2;
    box-shadow: $shadowEffect;
    h1 {
        font-size: 20px;
        justify-content: center;
        place-content: center;
        text-align: center;
        a {
            justify-content: center;
            align-items: center;
            float: middle;
            text-decoration: none;
            color: $pink200;
            text-align: center;
        }
    }
    #navbar {
        .checkbtn {
            display: block;
            font-size: 14px;
            float: left;
            margin-left: 20px;
            cursor: pointer;
        }
        display: none;
        ul {
            position: fixed;
            width: 100vw;
            height: 100%;
            font-size: 12px;
            li {
                display: block;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

#check:checked~ul {
    left: 0;
}

#team-name {
    width: 100vw;
    grid-area: teamNames;
    /* border: var(--borderSet); */
    border-radius: 15px;
    text-align: start;
    box-shadow: $shadowEffect;
}

#map {
    width: 100vw;
    grid-area: map;
    /* border: var(--borderSet); */
    border-radius: 15px;
    text-align: center;
    box-shadow: $shadowEffect;
}

#win-per {
    grid-area: winPer;
    /* border: var(--borderSet); */
    border-radius: 15px;
    text-align: center;
    box-shadow: $shadowEffect;
}

#line-chart {
    grid-area: lineChart;
    /* border: var(--borderSet); */
    border-radius: 15px;
    text-align: center;
    box-shadow: $shadowEffect;
}

#table {
    width: 100vw;
    grid-area: teamTable;
    /* border: var(--borderSet); */
    border-radius: 15px;
    text-align: center;
    box-shadow: $shadowEffect;
}

#write-up {
    width: 100vw;
    grid-area: writeUp;
    /* border: var(--borderSet); */
    border-radius: 15px;
    text-align: center;
    box-shadow: $shadowEffect;
}

footer {
    width: 100vw;
    grid-area: footer;
    text-align: center;
    justify-content: center;
}