* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat";
  font-weight: 500;
}

body {
  background-color: #eee;
  color: #212121;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

body nav {
  z-index: 999;
  height: 75px;
  width: 100%;
}

body label.head a {
  color: #212121;
  font-size: 35px;
  font-weight: 700;
  line-height: 75px;
  padding: 0 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .navbar {
  float: right;
  margin-right: 20px;
}

body .navbar li {
  display: inline-block;
  line-height: 75px;
  margin: 0 5px;
}

body .navbar li button:focus {
  outline: none;
}

body .navbar li a {
  z-index: 2;
  color: #212121;
  font-size: 17px;
  font-weight: 600;
  padding: 7px 13px;
  border-radius: 25px;
}

body .navbar li a.active,
body .navbar li a:hover {
  background: #e0e0e0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .navbar li button {
  color: #212121;
  background: none;
  border: none;
  font-size: 17px;
  font-weight: 600;
  padding: 7px 13px;
  border-radius: 25px;
}

body .navbar li button #sun {
  display: none;
}

body .navbar li button #moon {
  display: block;
}

body .navbar li button:hover {
  cursor: pointer;
  background: #e0e0e0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .container {
  position: absolute;
  top: 90px;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 710px 325px 325px;
      grid-template-columns: 710px 325px 325px;
  -ms-grid-rows: 100px 300px 300px 560px 200px;
      grid-template-rows: 100px 300px 300px 560px 200px;
      grid-template-areas: "teamNames teamNames teamNames" "map winPer writeUp" "map lineChart lineChart" "teamTable teamTable teamTable" "footer footer footer";
  overflow: auto;
  gap: 20px;
}

body #team-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: teamNames;
}

body #team-container #team-name-text {
  font-weight: 600;
}

body #team-container #teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
  gap: auto;
  padding-top: 15px;
}

body #team-container #teams button {
  width: 96px;
  height: 50px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 20px;
  color: #212121;
  padding-left: 15px;
  padding-right: 15px;
}

body #team-container #teams button:focus {
  outline: 0;
}

body #team-container #teams #csk {
  position: relative;
  border: #ffc107 5px solid;
  background: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body #team-container #teams #csk:hover,
body #team-container #teams button.csk-active {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffcf18), to(#ffb300));
  background-image: linear-gradient(to bottom right, #ffcf18, #ffb300);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

body #team-container #teams #mi {
  position: relative;
  left: 10px;
  border: #2196f3 5px solid;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #team-container #teams #mi:hover {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2196f3), to(#1976d2));
  background-image: linear-gradient(to bottom right, #2196f3, #1976d2);
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
}

body #team-container #teams #rcb {
  position: relative;
  left: 20px;
  border: #d32f2f 5px solid;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #team-container #teams #rcb:hover {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d32f2f), to(#d32f2f));
  background-image: linear-gradient(to bottom right, #d32f2f, #d32f2f);
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
}

body #team-container #teams #kkr {
  position: relative;
  left: 30px;
  border: #673ab7 5px solid;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #team-container #teams #kkr:hover {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#673ab7), to(#673ab7));
  background-image: linear-gradient(to bottom right, #673ab7, #673ab7);
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
}

body #team-container #teams #delhi {
  position: relative;
  left: 40px;
  border: #536dfe 5px solid;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #team-container #teams #delhi:hover {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3d5afe), to(#3d5afe));
  background-image: linear-gradient(to bottom right, #3d5afe, #3d5afe);
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
}

body #team-container #teams #kxip {
  position: relative;
  left: 50px;
  border: #c62828 5px solid;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #team-container #teams #kxip:hover {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ef5350), to(#e57373));
  background-image: linear-gradient(to bottom right, #ef5350, #e57373);
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
}

body #team-container #teams #rr {
  position: relative;
  left: 60px;
  border: #f06292 5px solid;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #team-container #teams #rr:hover {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f06292), to(#ec407a));
  background-image: linear-gradient(to bottom right, #f06292, #ec407a);
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
}

body #team-container #teams #srh {
  position: relative;
  left: 70px;
  border: #ff5722 5px solid;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #team-container #teams #srh:hover {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff5722), to(#f4511e));
  background-image: linear-gradient(to bottom right, #ff5722, #f4511e);
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
}

body #team-container #teams #ktk {
  position: relative;
  left: 80px;
  border: #ab47bc 5px solid;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #team-container #teams #ktk:hover {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ab47bc), to(#9c27b0));
  background-image: linear-gradient(to bottom right, #ab47bc, #9c27b0);
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
}

body #team-container #teams #gl {
  position: relative;
  left: 90px;
  border: #f57c00 5px solid;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #team-container #teams #gl:hover {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f57c00), to(#ef6c00));
  background-image: linear-gradient(to bottom right, #f57c00, #ef6c00);
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
}

body #team-container #teams #rps {
  position: relative;
  left: 100px;
  border: #d81b60 5px solid;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #team-container #teams #rps:hover {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d81b60), to(#8e24aa));
  background-image: linear-gradient(to bottom right, #d81b60, #8e24aa);
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
}

body #team-container #teams #deccan {
  position: relative;
  left: 110px;
  border: #607d8b 5px solid;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #team-container #teams #deccan:hover {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#607d8b), to(#546e7a));
  background-image: linear-gradient(to bottom right, #607d8b, #546e7a);
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
}

body #team-container #teams #pwi {
  position: relative;
  left: 120px;
  border: #00bcd4 5px solid;
  background: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #team-container #teams #pwi:hover {
  cursor: pointer;
  border: none;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#00bcd4), to(#00acc1));
  background-image: linear-gradient(to bottom right, #00bcd4, #00acc1);
  -webkit-box-shadow: 0px 0px 25px 2px #e0e0e0;
          box-shadow: 0px 0px 25px 2px #e0e0e0;
}

body #map-container {
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 25px 0.2px #e0e0e0;
          box-shadow: 0px 0px 25px 0.2px #e0e0e0;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: map;
}

body #map-container h3 {
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: 600;
  border-bottom: 2px solid #212121;
}

body #map-container #map {
  height: 92.75%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

@-webkit-keyframes fadeIn {
  from {
    fill-opacity: 0;
    color: 0;
  }
  to {
    fill-opacity: 0.5;
    color: 1;
  }
}

@keyframes fadeIn {
  from {
    fill-opacity: 0;
    color: 0;
  }
  to {
    fill-opacity: 0.5;
    color: 1;
  }
}

body .circle-transition {
  -webkit-animation: 0.5s ease-out 0s 1 fadeIn;
          animation: 0.5s ease-out 0s 1 fadeIn;
}

body #win-per-container {
  border-radius: 25px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: winPer;
  -webkit-box-shadow: 0px 0px 25px 0.2px #e0e0e0;
          box-shadow: 0px 0px 25px 0.2px #e0e0e0;
}

body #win-per-container h3 {
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: 600;
  border-bottom: 2px solid #212121;
}

body #win-per-container #win-per {
  position: relative;
  top: 45px;
  justify-items: center;
}

body #win-per-container #win-per-text {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body #line-chart-container {
  border-radius: 25px;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: lineChart;
  -webkit-box-shadow: 0px 0px 25px 0.2px #e0e0e0;
          box-shadow: 0px 0px 25px 0.2px #e0e0e0;
}

body #line-chart-container h3 {
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
  font-weight: 600;
  border-bottom: 2px solid #212121;
}

body #line-chart-container #line-chart {
  position: relative;
  bottom: 7px;
  padding-top: 15px;
  padding-left: 15px;
  max-width: 575px;
}

body #fact-container {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: writeUp;
  -webkit-box-shadow: 0px 0px 25px 0.2px #e0e0e0;
          box-shadow: 0px 0px 25px 0.2px #e0e0e0;
  border-radius: 25px;
}

body #fact-container h3 {
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: 600;
  border-bottom: 2px solid #212121;
}

body #fact-container #fact {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 15px;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 1.75;
}

body #fact-container #fact #fact-team-name,
body #fact-container #fact #fact-team-score {
  font-weight: 700;
}

body #table-container {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: teamTable;
  -webkit-box-shadow: 0px 0px 25px 0.2px #e0e0e0;
          box-shadow: 0px 0px 25px 0.2px #e0e0e0;
  border-radius: 25px;
}

body #table-container h3 {
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: 600;
  border-bottom: 2px solid #212121;
}

body #table-container table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 25px 5px #eee;
          box-shadow: 0 0 25px 5px #eee;
}

body #table-container table tbody tr td:nth-child(n+2) {
  text-align: right;
}

body #table-container td,
body #table-container th {
  border: 1px solid #cccccc;
  padding: 8px;
}

body #table-container th {
  font-weight: bold;
  text-transform: capitalize;
}

body #table-container tr:nth-child(even) {
  background-color: #ccc;
}

body #table-container .table-sortable th {
  cursor: pointer;
}

body #table-container .table-sortable .th-sort-asc::after {
  content: "\25b4";
}

body #table-container .table-sortable .th-sort-desc::after {
  content: "\25be";
}

body #table-container .table-sortable .th-sort-desc::after,
body #table-container .table-sortable .th-sort-asc::after {
  margin-left: 5px;
}

body #table-container .table-sortable .th-sort-desc,
body #table-container .table-sortable .th-sort-asc {
  background: rgba(0, 0, 0, 0.1);
}

body footer {
  margin-top: 40px;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body footer p {
  font-weight: 600;
}

body footer .contact-us {
  float: center;
}

body footer .contact-us li {
  display: inline-block;
  margin: 0 5px;
  margin-top: 7.5px;
}

body footer .contact-us li a i {
  color: #212121;
}

body footer .data-source {
  margin-top: 7.5px;
}

body footer .data-source a {
  color: #212121;
  text-decoration: underline;
}

body footer .note {
  margin-top: 7.5px;
}

.dark-mode {
  background-color: #212121;
  color: #eee;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.dark-mode label.head a {
  color: #eee;
}

.dark-mode .navbar {
  float: right;
  margin-right: 20px;
}

.dark-mode .navbar li button:focus {
  outline: none;
}

.dark-mode .navbar li a {
  color: #eee;
}

.dark-mode .navbar li a.active,
.dark-mode .navbar li a:hover {
  background: rgba(224, 224, 224, 0.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark-mode .navbar li button {
  color: #eee;
}

.dark-mode .navbar li button #sun {
  display: block;
}

.dark-mode .navbar li button #moon {
  display: none;
}

.dark-mode .navbar li button:hover {
  background: rgba(224, 224, 224, 0.15);
}

.dark-mode #team-container #teams button {
  color: #eee;
}

.dark-mode #team-container #teams #csk:hover,
.dark-mode #team-container #teams button.csk-active {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #team-container #teams #mi:hover {
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #team-container #teams #rcb:hover {
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #team-container #teams #kkr:hover {
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #team-container #teams #delhi:hover {
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #team-container #teams #kxip:hover {
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #team-container #teams #rr:hover {
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #team-container #teams #srh:hover {
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #team-container #teams #ktk:hover {
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #team-container #teams #gl:hover {
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #team-container #teams #rps:hover {
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #team-container #teams #deccan:hover {
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #team-container #teams #pwi:hover {
  -webkit-box-shadow: 0px 0px 25px 2px #111;
          box-shadow: 0px 0px 25px 2px #111;
}

.dark-mode #map-container {
  -webkit-box-shadow: 0px 0px 25px 0.2px #111;
          box-shadow: 0px 0px 25px 0.2px #111;
}

.dark-mode #map-container h3 {
  border-bottom: 2px solid #9e9e9e;
}

.dark-mode #win-per-container {
  -webkit-box-shadow: 0px 0px 25px 0.2px #111;
          box-shadow: 0px 0px 25px 0.2px #111;
}

.dark-mode #win-per-container h3 {
  border-bottom: 2px solid #9e9e9e;
}

.dark-mode #line-chart-container {
  -webkit-box-shadow: 0px 0px 25px 0.2px #111;
          box-shadow: 0px 0px 25px 0.2px #111;
}

.dark-mode #line-chart-container h3 {
  border-bottom: 2px solid #9e9e9e;
}

.dark-mode #fact-container {
  -webkit-box-shadow: 0px 0px 25px 0.2px #111;
          box-shadow: 0px 0px 25px 0.2px #111;
}

.dark-mode #fact-container h3 {
  border-bottom: 2px solid #9e9e9e;
}

.dark-mode #table-container {
  -webkit-box-shadow: 0px 0px 25px 0.2px #111;
          box-shadow: 0px 0px 25px 0.2px #111;
}

.dark-mode #table-container h3 {
  border-bottom: 2px solid #9e9e9e;
}

.dark-mode #table-container table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  -webkit-box-shadow: 0 0 25px 5px #111;
          box-shadow: 0 0 25px 5px #111;
}

.dark-mode #table-container td,
.dark-mode #table-container th {
  border: 1px solid #9e9e9e;
  padding: 8px;
}

.dark-mode #table-container th {
  font-weight: bold;
  text-transform: capitalize;
}

.dark-mode #table-container tr:nth-child(even) {
  background-color: #111;
}

.dark-mode #table-container .table-sortable th {
  cursor: pointer;
}

.dark-mode #table-container .table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.dark-mode #table-container .table-sortable .th-sort-desc::after {
  content: "\25be";
}

.dark-mode #table-container .table-sortable .th-sort-desc::after,
.dark-mode #table-container .table-sortable .th-sort-asc::after {
  margin-left: 5px;
}

.dark-mode #table-container .table-sortable .th-sort-desc,
.dark-mode #table-container .table-sortable .th-sort-asc {
  background: rgba(0, 0, 0, 0.1);
}

.dark-mode footer {
  margin-top: 40px;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.dark-mode footer p {
  font-weight: 600;
}

.dark-mode footer .contact-us {
  float: center;
}

.dark-mode footer .contact-us li {
  display: inline-block;
  margin: 0 5px;
  margin-top: 10px;
}

.dark-mode footer .contact-us li a i {
  color: #eee;
}

.dark-mode footer .data-source {
  margin-top: 10px;
}

.dark-mode footer .data-source a {
  color: #eee;
  text-decoration: underline;
}
/*# sourceMappingURL=style6.css.map */