    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1.6em;
        margin: 0;
    }
    
    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
    
    #mainHeader {
        background-color: #333;
        color: white;
    }
    
    #mainNav {
        background-color: #ccc;
        color: black;
        position: sticky;
    }
    
    #mainNav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    #mainNav li {
        display: inline;
        padding: 5px 10px;
        transition-duration: 0.15s;
        transition-timing-function: ease-in;
    }
    
    #mainNav a {
        color: black;
        text-decoration: none;
        font-size: 18px;
    }
    
    #mainNav li:hover {
        background-color: #aaa;
    }
    
    #jumbo {
        background-image: url('../tree-736885__340.webp');
        background-position: center center;
        text-align: center;
    }
    
    #jumbo h1 {
        color: white;
        font-size: 30px;
        padding-top: 2q0px;
        line-height: 1.6em;
    }
    
    #main {
        float: right;
        width: 70%;
        padding: 0 30px;
        box-sizing: border-box;
    }
    
    #sidebar {
        float: left;
        width: 30%;
        padding: 20px;
        border-right: 1px solid #333;
        box-sizing: border-box;
    }
    
    #mainFooter {
        background-color: #333;
        color: #fff;
        text-align: center;
        top: 100px;
        padding: 20px;
        margin-top: 50px;
    }
    
    @media(max-width:600px) {
        #main,
        #sidebar {
            width: 100%;
            float: none;
            border: none;
        }
    }
    /* p {
        border: forestgreen 5px solid;
        padding: 10px 20px;
        margin-top: 40px;
    } */