.dark-mode {

    background-color: $darkBody;
    color: $darkTextColor;
  
  
    nav {
      // background: #eee;
      // box-shadow: 0px 0px 25px 0.02px #e0e0e0;
      height: 75px;
      width: 100%;
    }
  
    label.head a {
      color: $darkTextColor;
      font-size: 35px;
      font-weight: 700;
      line-height: 75px;
      padding: 0 20px;
      text-align: center;
      justify-content: center;
    }
  
    ul {
      float: right;
      margin-right: 20px;
  
      li {
        display: inline-block;
        line-height: 75px;
        margin: 0 5px;
  
        button:focus {
          outline: none;
        }
  
        a {
          z-index: 2;
          color: $darkTextColor;
          font-size: 17px;
          font-weight: 600;
          padding: 7px 13px;
          border-radius: 25px;
        }
  
        a.active,
        a:hover {
          background: $darkHoverColor;
  
          transition: 0.5s;
        }
  
        button {
          color: $darkTextColor;
          background: none;
          border: none;
          font-size: 17px;
          font-weight: 600;
          padding: 7px 13px;
          border-radius: 25px;
        }
  
        button:hover {
          cursor: pointer;
          background: $darkHoverColor;
          transition: 0.5s;
        }
  
      }
    }
  
    .container {
      position: absolute;
      top: 90px;
      width: 100vw;
      padding-left: 20px;
      padding-right: 20px;
      // box-shadow: $darkShadowEffect;
      // border: 2px solid #000;
      display: grid;
      grid-template-columns: 2.25fr 1fr 1fr;
      grid-template-rows: 100px 37.5vh 37.5vh 65vh 100px;
      grid-template-areas: "teamNames teamNames teamNames""map winPer writeUp""map lineChart lineChart""teamTable teamTable teamTable""footer footer footer";
      overflow: auto;
      gap: 20px;
    }
  
    #team-container {
      grid-area: teamNames;
  
      #team-name-text {
        font-weight: 600;
      }
  
      #teams {
        display: flex;
        flex-direction: row;
        gap: auto;
        padding-top: 15px;
  
        button {
          // border: none;
          width: 96px;
          height: 50px;
          border-radius: 30px;
          font-weight: 600;
          font-size: 20px;
          color: $darkTextColor;
          padding-left: 15px;
          padding-right: 15px;
        }
  
        button:focus {
          outline: 0;
        }
  
        #csk {
          position: relative;
          border: #ffc107 5px solid;
          // background-image: linear-gradient($cskColor);
          background: none;
  
          transition: 0.3s ease-in-out;
        }
  
        #csk:hover,
        button.csk-active {
          cursor: pointer;
          box-shadow: $darkButtonShadow;
          border: none;
          background-image: linear-gradient($cskColor);
          transition: 0.3s ease-in;
        }
  
        #mi {
          position: relative;
          left: 10px;
          border: #2196f3 5px solid;
          background: none;
  
          transition: 0.3s;
        }
  
        #mi:hover {
          cursor: pointer;
          border: none;
          background-image: linear-gradient($miColor);
          box-shadow: $darkButtonShadow;
        }
  
        #rcb {
          position: relative;
          left: 20px;
          border: #d32f2f 5px solid;
          background: none;
  
          transition: 0.3s;
        }
  
        #rcb:hover {
          cursor: pointer;
          border: none;
          background-image: linear-gradient($rcbColor);
          box-shadow: $darkButtonShadow;
        }
  
        #kkr {
          position: relative;
          left: 30px;
          border: #673ab7 5px solid;
          background: none;
  
          transition: 0.3s;
        }
  
        #kkr:hover {
          cursor: pointer;
          border: none;
          background-image: linear-gradient($kkrColor);
          box-shadow: $darkButtonShadow;
        }
  
        #delhi {
          position: relative;
          left: 40px;
          border: #536dfe 5px solid;
          background: none;
  
          transition: 0.3s;
        }
  
        #delhi:hover {
          cursor: pointer;
          border: none;
          background-image: linear-gradient($delhiColor);
          box-shadow: $darkButtonShadow;
        }
  
        #kxip {
          position: relative;
          left: 50px;
          border: #c62828 5px solid;
          background: none;
  
          transition: 0.3s;
        }
  
        #kxip:hover {
          cursor: pointer;
          border: none;
          background-image: linear-gradient($kxipColor);
          box-shadow: $darkButtonShadow;
        }
  
        #rr {
          position: relative;
          left: 60px;
          border: #f06292 5px solid;
          background: none;
  
          transition: 0.3s;
        }
  
        #rr:hover {
          cursor: pointer;
          border: none;
          background-image: linear-gradient($rrColor);
          box-shadow: $darkButtonShadow;
        }
  
        #srh {
          position: relative;
          left: 70px;
          border: #ff5722 5px solid;
          background: none;
  
          transition: 0.3s;
        }
  
        #srh:hover {
          cursor: pointer;
          border: none;
          background-image: linear-gradient($srhColor);
          box-shadow: $darkButtonShadow;
        }
  
        #ktk {
          position: relative;
          left: 80px;
          border: #ab47bc 5px solid;
          background: none;
  
          transition: 0.3s;
        }
  
        #ktk:hover {
          cursor: pointer;
          border: none;
          background-image: linear-gradient($ktkColor);
          box-shadow: $darkButtonShadow;
        }
  
        #gl {
          position: relative;
          left: 90px;
          border: #f57c00 5px solid;
          background: none;
  
          transition: 0.3s;
        }
  
        #gl:hover {
          cursor: pointer;
          border: none;
          background-image: linear-gradient($glColor);
          box-shadow: $darkButtonShadow;
        }
  
        #rps {
          position: relative;
          left: 100px;
          border: #d81b60 5px solid;
          background: none;
  
          transition: 0.3s;
        }
  
        #rps:hover {
          cursor: pointer;
          border: none;
          background-image: linear-gradient($rpsColor);
          box-shadow: $darkButtonShadow;
        }
  
        #deccan {
          position: relative;
          left: 110px;
          border: #607d8b 5px solid;
          background: none;
  
          transition: 0.3s;
        }
  
        #deccan:hover {
          cursor: pointer;
          border: none;
          background-image: linear-gradient($deccanColor);
          box-shadow: $darkButtonShadow;
        }
  
        #pwi {
          position: relative;
          left: 120px;
          border: #00bcd4 5px solid;
          background: none;
  
          transition: 0.3s;
        }
  
        #pwi:hover {
          cursor: pointer;
          border: none;
          background-image: linear-gradient($pwiColor);
          box-shadow: $darkButtonShadow;
        }
      }
    }
  
    #map-container {
      border-radius: $radiusBox;
      box-shadow: $darkShadowEffect;
      grid-area: map;
  
      h3 {
        position: relative;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        font-weight: 600;
        border-bottom: $darkBorderColor;
      }
  
      #map {
        height: 92.75%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }
  
    @keyframes fadeIn {
      from {
        fill-opacity: 0;
        color: 0;
      }
  
      to {
        fill-opacity: 0.5;
        color: 1;
      }
    }
  
    .circle-transition {
      animation: 0.5s ease-out 0s 1 fadeIn;
    }
  
    #win-per-container {
      border-radius: $radiusBox;
      grid-area: winPer;
      box-shadow: $darkShadowEffect;
  
      h3 {
        position: relative;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        font-weight: 600;
        border-bottom: $darkBorderColor;
      }
  
      #win-per {
        position: relative;
        top: 45px;
        justify-items: center;
      }
  
      #win-per-text {
        position: relative;
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        transition: all 0.5s ease;
      }
    }
  
    #line-chart-container {
      border-radius: $radiusBox;
      grid-area: lineChart;
      box-shadow: $darkShadowEffect;
  
      h3 {
        position: relative;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 5px;
        font-weight: 600;
        border-bottom: $darkBorderColor;
      }
  
      #line-chart {
        position: relative;
        bottom: 7px;
        padding-top: 15px;
        padding-left: 15px;
        max-width: 575px;
      }
    }
  
    #write-up-container {
      grid-area: writeUp;
      box-shadow: $darkShadowEffect;
      border-radius: $radiusBox;
  
      h3 {
        position: relative;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        font-weight: 600;
        border-bottom: $darkBorderColor;
      }
  
    }
  
    #table-container {
      grid-area: teamTable;
      box-shadow: $darkShadowEffect;
      border-radius: $radiusBox;
  
      h3 {
        position: relative;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        font-weight: 600;
        border-bottom: $darkBorderColor;
      }
    }
  
    footer {
      grid-area: footer;
      text-align: center;
      align-self: center;
      font-weight: 600;
    }
  
  
  }